@charset "utf-8";
/* CSS Document */

body {
	font:62.5%/1.2em Tahoma, Geneva, sans-serif;
	background:#330000;
	padding-top:20px;
}


#navigation{
	width:800px;
	background:#CC6600;
	margin:0 auto;
	padding-top:30px;
	font-size:1.5em;
	color:#fff;
	text-align:center;
	border-bottom:10px solid #330000;
	padding:5px 0;
}

#content{
	width:800px;
	height:600px;
	margin:0 auto;
	background:#F0D0AF;
	font-size:1.2em;
	line-height:1.5em;
	padding-top:10px;
}

#navigation ul {
	list-style-type:none;
	text-align:center;
}

#content ul{
	list-style-type:none;
	text-align:left;
	list-style-type:circle;
	text-align:center;
}

#content li{
	margin-bottom:20px;
}

#content p{
	margin:10px 50px 25px;
}
a:link, a:visited {
	font:bold 1.2em Tahoma, Geneva, sans-serif;
	color:#FFCC00;
	text-decoration:none;
	padding:10px 10px;
	text-transform:uppercase;
}

a:hover {
	color:#CCFFFF;
}

#navigation li {
	display:inline;
}

#images {
	margin-top:20px;
	text-align:center;
}

#gotoTop{
	width:800px;
	background:#CC6600;
	margin:0 auto;
	padding-top:30px;
	font-size:1.4em;
	color:#fff;
	text-align:center;
	padding:5px 0;
	margin-top:50px;
}
	