body {
	background-color:#ffffcc;
	color:#330000;
	font-family:Verdana, Arial, sans-serif;
	background-image:none;

}

#container {
	width:100%;
	margin-right:0;
	margin-left:0;
	background-color: #ffffcc;
	min-width: 0;
	box-shadow: 10px 10px 5px #888;
}

h2 {
	padding:0.5em 0 0 0.5em;
	text-transform: uppercase;
	background-color:#ffffcc;
	color:#663300;
	font-size:1.2em;
	border-bottom:1px solid #000000;
	margin-right:0.5em;
	clear:left;
}

#footer {
	background-color:#ccaa66;
	text-align:center;
	color:#000000;
	font-size: 0.6em;
	font-style:italic;
	padding-top:0;
	padding-bottom:0;
	clear:both;
}

#footer a:link{
	color:#ffffcc;	
}

#footer a:visited{
	color:#f2eab7;
}

#footer a:hover{
	color:#330000;
}

#content {
	padding: 0.5em;
	margin:0;
	background-color:#f2eab7;
	color:#000000;
}

.details {
	padding-left:0;
	padding-right:0;
}

img {
	border-style: none;
}

nav {
	text-align:center;
	float:none;
	width:100%;
	text-align:center;
	padding-top:0;
	margin-top:0;
}

nav a{
	display: block;
	padding:0.2em;
	font-size: 1.3em;
	font-weight: bold;
	border-bottom: 1px;
	border-color: #330000;
	text-decoration:none;
	padding-bottom:15px;
}

nav a:link{
	color:#996633;
}

nav a:visited{
	color:#ccaa66;
}

nav a:hover{
	color:#330000;
}

nav ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

.floatleft{
	float:left;
	padding-right:0.5em;
	padding-left:0.5em;
}

.floatright{
	float:right;
	padding-left:20px;
	display:none;
}

#header{
	background: url(javalogomobile.gif);
	background-position: center;
	background-repeat: no-repeat;
	height:80px;
	color:#000000;
	text-align:left;
	margin:0;
}

h1{
	text-indent: -99999px;
	margin:0;
}

#mobile{display:inline;}
#desktop{display:none;}