@charset "UTF-8";
/* CSS Document */

body {
	font:100%/1.2em Calibri, Verdana, sans-serif;
	color:#FDFFB4;
	background:#415448;
}

#wrapper {
	width:850px;
	height:445px;
}

#header {
	width:380px;
	padding-left:260px;
	padding-right:170px;
}

#navigation {
	width:230px;
	float:left;
	background-color:#AFB27D;
	border-radius:8px;
}

#content {
	margin-left:30px;
	width:390px;
	float:left;
}

#clear {
	clear:both;
}

#current {
	font-weight:bold;
}

#current:hover {
	color:#AFCCA5;
	font-weight:normal;
}

li {
	list-style-type:none;
	margin-bottom:10px;
}

#navigation a:link, #navigation a:visited{
	color:#30291D;
	text-decoration:none;
}

#navigation a:hover {
	color:#415448;
	text-decoration:none;
	font-weight: bold;
}

#navigation a:active {
	color:#FDFFB4;
}

#content a:link, #content a:visited{
	color:#AFCCA5;
	text-decoration: none;
}

#content a:hover {
	color:#AFB27D;
	text-decoration: none;
}

#content a:active {
	color:#30291D;
}

#lower {
	margin-top: 35px;
}