h1 {color: red;}
h2 {font-style: italic;}
h3 {font-family: arial, sans-serif; color: gray}
#footer {font-size: smaller;}
.highlight {background-color:#FF0;}
.normal { backgound-color:white;}
.homeHeader {color: red;}
.otherHeader {color: orange;}